@{
    ViewData["Title"] = "Home Page";
}
<main>
  <section>
    <h1>Welcome to the World of Colours  !</h1>
    <p>Welcome to our art website And We are thrilled to share our passion for art with you and provide a platform to showcase our work.

    <p>As an artist, We are inspired by the world around me and seek to capture its beauty through our art. On this website, you will find a collection of our paintings, drawings, and other works that reflect our unique style and perspective.</p>

    <p>We believe that art has the power to move, inspire, and transform people, and We hope that our artwork will do just that for you. Through this website, We also aim to connect with other artists and art enthusiasts, and create a community that shares a love for art.</p>

    <p>Thank you for visiting our website, and We invite you to explore our artwork and share your thoughts and feedback with us.</p>
  </section>

  <section>
    <h2>Featured Artists</h2>
    <ul>
      <li>
          <img src="../images/artist1.jpg" alt="Artist 1">
          <h3>Artist 1</h3>
          <p></p>
        </li>
        <li>
          <img src="../images/artist2.jpg" alt="Artist 2">
          <h3>Artist 2</h3>
          <p></p>
        </li>
        <li>
          <img src="../images/artwork.jpg" alt="Artist 3">
          <h3>Artist 3</h3>
          <p></p>
        </li>
    </ul>
  </section>
  </main>